<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/signup.js" defer></script>
</head>
<body>
<section>
    <form action="/req/signup" method="post">
        <h1>Sign Up</h1>        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" id= "username" name="username" required>
            <label >Name</label>
        </div>
        <div class="auth-body">
            <form th:action="@{/register}" method="post" th:object="${registerRequest}">
                <div class="mb-3">
                    <label for="username">User name</label>
                    <input type="text" class="form-control" id="username" name="username" th:field="*{username}" required />
                </div>
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" th:field="*{fullName}" required />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone" name="phone" th:field="*{phone}" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required />
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:field="*{confim_password}" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </div>
            </form>
        </div>

        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="password" name="password" required>
            <label>Password</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="passwordcon" name="passwordcon" required>
            <label>Confirm Password</label>
        </div>
        <button id= "submit" type="submit">Sign Up</button>
        <div class="register">
            <p>Already have an account? <a href="">Log In</a></p>
        </div>
    </form>
</section>
</body>
</html>
<script>
    const submitButttom = document.getElementById("submit");
    submitButttom.addEventListener('click',()=>{
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('passwordcon').value;
        const email = document.getElementById('email').value;
        const data ={
            username,
            email,
            password
        }

        if(password == confirmPassword){
            const jsonData = JSON.stringify(data);
            fetch('/req/signup', {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
                .then(response =>{
                    //alert('succesfull');
                    //if(response.status == 200){
                    //alert('succesfull');
                    //xs}
                })
        }

    })


</script>
